---
name: Ubuntu 20.04

on:
  push:
    branches: [main, master, dev]
  pull_request:
    branches: [main, master]

jobs:
  build:
    name: "Ubuntu 20.04 (Qt 5.12)"
    runs-on: ubuntu-24.04
    container:
      image: ubuntu:20.04
    env:
      DEBIAN_FRONTEND: noninteractive

    steps:
      - name: update apt
        run: apt update

      - name: install dependencies
        run: |
          apt -y install git cmake build-essential ccache \
            qtbase5-dev libqt5sql5-sqlite libgl1-mesa-dev

      - name: configure git
        run: git config --global --add safe.directory '*'

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build Release
        run: make release

      - name: Test
        run: make test

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: nutra-ubuntu-20.04
          path: build/nutra
