name: Windows

on:
  push:
    branches: [main, master, dev]
  pull_request:
    branches: [main, master]

jobs:
  build:
    name: Build
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: "6.5.0"
          host: "windows"

      - name: Build
        run: make release

      - name: Test
        run: make test

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: nutra-win64
          path: build/Release/nutra.exe
